{{#if gryffindor}}
<body id="gryffindorCommomRoom">
    <section class="sectionBackground">
    <div class="row"><div class="col text-center"><h2>Welcome to the Gryffindor Commonroom</h2></div></div>

{{else if hufflepuff}}
<body id="hufflepuffCommomRoom">
    <section class="sectionBackground">
    <div class="row"><div class="col text-center"><h2>Welcome to the Hufflepuff Commonroom</h2></div></div>

{{else if ravenclaw}}
<body id="ravenclawCommomRoom">
    <section class="sectionBackground">
    <div class="row"><div class="col text-center"><h2>Welcome to the Ravenclaw Commonroom</h2></div></div>

{{else }}
<body id="slytherinCommomRoom">
    <section class="sectionBackground">
    <div class="row"><div class="col text-center"><h2>Welcome to the Slytherin Commonroom</h2></div></div>
{{/if}}

<div class="row"><div class="col">
<section>
    <h3>Profile</h3>
    <h5><span class="profileCategories">Name:</span><span class="profileAnswersName"><i>{{wizard.name}}</i></span></h5>
    <h5><span class="profileCategories">First year:</span><span class="profileAnswersYear"><i>{{wizard.firstYearOfHogwarts}}</i></span></h5>
    <h5><span class="profileCategories">Alias:</span><span class="profileAnswersAlias"><i>{{wizard.Wizardname}}</i></span></h5>
</section>
</div>

<div class="col text-center">
{{#if gryffindor}}
    <img class="crest" src="../../images/Hogwarts/gryffindorlogo.png" alt="Gryffindor Crest">

{{else if hufflepuff}}
    <img class="crest" src="../../images/Hogwarts/hufflepufflogo.png" alt="Hufflepuff Crest">

{{else if ravenclaw}}
    <img class="crest" src="../../images/Hogwarts/ravenclawlogo.png" alt="Ravenclaw Crest">

{{else }}
    <img class="crest" src="../../images/Hogwarts/slytherinlogo.png" alt="Slytherin Crest">
{{/if}}
</div>
<div class="row">
        <div class="col">
          <a href="/auth/profile/{{wizard._id}}/edit" class="btn customBtnDesgin">Edit details</a>
        </div>
        </div>
<div class="row"><div class="col text-center" id="fifthFloorLink"><a class="btn customBtnDesgin"href="/fifth-floor">Lets go to the 5th Floor</a>
</div>
</div>
</section>

</body>
