

{{#if gryffindor}}
<body id="gryffindorCommomRoom">
    <h2>Welcome to the Gryffindor Commonroom</h2>
    <img class="crest" src="../../images/Hogwarts/gryffindorlogo.png" alt="Gryffindor Crest">

{{else if hufflepuff}}
<body id="hufflepuffCommomRoom">
       <h2>Welcome to the Hufflepuff Commonroom</h2>
    <img class="crest" src="../../images/Hogwarts/hufflepufflogo.png" alt="Hufflepuff Crest">

{{else if ravenclaw}}
<body id="ravenclawCommomRoom">
    <h2>Welcome to the Ravenclaw Commonroom</h2>
    <img class="crest" src="../../images/Hogwarts/ravenclawlogo.png" alt="Ravenclaw Crest">

{{else }}
<body id="slytherinCommomRoom">
    <h2>Welcome to the Slytherin Commonroom</h2>
    <img class="crest" src="../../images/Hogwarts/slytherinlogo.png" alt="Slytherin Crest">
{{/if}}


<section>
    <h3>Profile</h3>
    <h5>Name : <i>{{wizard.name}}</i></h5>
    <h5>First year attending Hogwarts was : <i>{{wizard.firstYearOfHogwarts}}</i></h5>
    <h5>Alias : <i>{{wizard.Wizardname}}</i></h5>
</section>

 <a class="fifthFloorLink" href="/entrance-hall">Lets go to the 5th Floor to find the Hidden Corridor</a>



</body>
