
<body id="editProfileBody">


  <div class="row text-center"><h1>Edit Profile: {{Wizardname}}</h1></div>

  <form id="profileEditForm" action="/auth/profile/{{_id}}/edit" method="POST">
    
    <div class="col signupForm ">
      <label class="form-label editLabel">Your Name
        <textarea
          style="width:25vw"
          type="text"
          class="form-control editForm"
          name="name"
          aria-label="name"
          rows="1"
        >{{name}}
        </textarea>
      </label>
 
          <label class="form-label editLabel">Select House
          <select name="house" class="form-select editForm" aria-label="house" style="width:25vw">
            <option selected>{{house}}</option>
            <option value="gryffindor">Gryffindor</option>
            <option value="hufflepuff">Hufflepuff</option>
            <option value="ravenclaw">Ravenclaw</option>
            <option value="slytherin">Slytherin</option>
          </select></label>
    
      <label class="form-label editLabel">First Year Of Hogwarts
      <input
            type="number"
            style="width:25vw"
            class="form-control editForm"
            name="firstYearOfHogwarts"
            value={{firstYearOfHogwarts}}
            aria-label="firstYearOfHogwarts"
          />
      </label>
      <button type="submit" class="btn btn-success">Confirm</button>
    </div>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

    
  </form>

</body>