<body id="hiddenCorridorBody">

  <h1>Illicit Potions</h1>
  <!-- <div class="container"> </div>-->
  <div class="row">
    {{#each potions}}
      <div class="col-sm">
        <div class="card" style="width: 300px">
          <div class="card-body">
            <h5 class="card-title1">{{this.potionName}}</h5>
            <!-- listing each of the ingredients here -->
            <ul class="list-elements">
              {{#each this.ingredients}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
            <h6
              class="card-subtitle1 mb-2 text-muted"
            >{{this.wizard.Wizardname}}</h6>
            <div class="card-footer">
              <form method="post" action="/potions/{{_id}}/like" class="inline">
                <input
                  type="hidden"
                  name="extra_submit_param"
                  value="extra_submit_value"
                />
                <button
                  type="submit"
                  name="submit_param"
                  value="submit_value"
                  class="link-button"
                >
                <img src="../../images/Hogwarts/icon-blue-wand.png">
                </button>
              </form>
              <h5><span>{{this.numberOfLikes.length}}</span>Likes</h5>
              <a href="/potions/{{_id}}" class="card-link1">More Details</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</body>



