<body id="hiddenCorridorBody">

<section class="potion-details">
    <h1>{{potionDetails.potionName}}</h1>
    <h5>Brewed by: {{potionDetails.wizard.Wizardname}}</h5>
    <p>
        Ingredients {{potionDetails.ingredients}} <br />
    </p>
    <p>
        How to brew it {{potionDetails.method}} <br />
    </p>
    <p>
        Time to brew {{potionDetails.potionTime}}
    </p>
    <p>
        Difficulty {{potionDetails.difficulty}} <br />
    </p>
    <p>
        Possible Side Effects {{potionDetails.sideEffects}}
    </p>
    <p>
        Likes: {{potionDetails.numberOfLikes}}
    </p>
    
    {{#if isOwner}}
<a href="/potions/{{potionDetails._id}}/edit">Edit details</a>
    <p>
        <form action="/potions/{{potionDetails._id}}/delete" method="POST">
            <button>Delete</button>
           
        </form>
    </p>
     {{else}}
            {{/if}}

</section>

<a href="/potions">Back</a>

</body>