<body id="hiddenCorridorBody">

  <section class="potion-details">
    <div class="row">
      <div class="col-1"></div>
      <div class="col"><h1 class="largeTitleColor">Make Changes to:
          {{potionName}}</h1></div>
    </div>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    <form id="potionEditForm" action="/potions/{{_id}}/edit" method="POST">
      <div class="row">
        <div class="col text-center">
          <label class="form-label smallTitleColor">Potion Name
            <textarea
              type="text"
              class="form-control"
              name="potionName"
              aria-label="potionName"
              rows="1"
            >{{potionName}}
            </textarea>
          </label>
        </div>

        <div class="col text-center">
          <label class="form-label smallTitleColor">Difficulty
            <select
              name="difficulty"
              class="form-select"
              aria-label="difficulty"
            >
              <option selected>{{difficulty}}</option>
              <option value="squib">Squib</option>
              <option value="firstYear">First Year</option>
              <option value="owlLevel">OWL Level</option>
              <option value="newtLevel">NEWT Level</option>
              <option value="professor">Professor</option>
            </select>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <label class="form-label smallTitleColor">Method
            <textarea
              placeholder="1. Step one, 2. Step two, etc"
              type="text"
              class="form-control"
              name="method"
              rows="4"
            >{{method}}
            </textarea>
          </label>
        </div>
        <div id="formulario" class="col text-center">
          <label><span class="form-label">Ingredients</span>
            <input type="button" class="btn" value="+" onClick="addInput();" />
            <ul style="list-style-type: none; ">
              {{#each ingredients}}
                <li>
                  <br /><input type="text" name="ingredients" value={{this}} />
                  <input
                    type="button"
                    class="btn"
                    value="-"
                    onClick="removeInput(this);"
                  />
                </li>
              {{/each}}
            </ul>
          </label>
        </div>
      </div>

      <div class="row">

        <div class="col text-center">
          <label class="form-label smallTitleColor">Side Effects
            <input
              type="text"
              class="form-control"
              name="sideEffects"
              placeholder="List Side Effects Here"
              value={{sideEffects}}
              aria-label="sideEffects"
            />
          </label>
        </div>
        <div class="col text-center">
          <label class="form-label smallTitleColor">Brewing Time
            <input
              type="number"
              class="form-control"
              name="potionTime"
              value={{potionTime}}
              aria-label="potionTime"
            />
          </label>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-2">
          <a href="/potions/{{_id}}" class="btn customBtnDesgin">Back</a>
        </div>
        <div class="col text-center"><button
            type="submit"
            class="btn customBtnDesgin"
            style="margin-top: 2vh; padding: 2%;"
          >Fix your potion</button>
        </div>
      </div>
    </form>
  </section>
</body>