<body id="hiddenCorridorBody">

  <h1>Illicit Potions</h1>
  <!-- <div class="container"> </div>-->
  <div class="row">
    {{#each potions}}
      <div class="col-sm">
        <div class="card" style="width: 300px">
          <div class="card-body">
            <h5 class="card-title1">{{this.potionName}}</h5>
            <!-- listing each of the ingredients here -->
            <ul class="list-elements">
              {{#each this.ingredients}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
            <h6
              class="card-subtitle1 mb-2 text-muted"
            >{{this.wizard.Wizardname}}</h6>
            <div class="card-footer">
              <a href="#" class="card-link1"><img src="../../images/Hogwarts/icon-blue-wand.png" alt="wand icon"></a>
              <p>
                {{this.numberOfLikes}}
                <a href="#" id="emptyPotion"><img src="../../images/Hogwarts/icon-empty-potion.png" alt="potion icon"></a>
                <a href="#" id="emptyPotion"><img src="../../images/Hogwarts/icon-empty-potion.png" alt="potion icon"></a>
              </p>
              <a href="/potions/{{_id}}" class="card-link1">More Details</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</body>