<body id="hiddenCorridorBody">

<section class="potion-details">
    <h1>{{potionDetails.potionName}}</h1>
    <h5>Brewed by: {{potionDetails.wizard.Wizardname}}</h5>
    <p>
        Ingredients {{potionDetails.ingredients}} <br />
    </p>
    <p>
        How to brew it {{potionDetails.method}} <br />
    </p>
    <p>
        Time to brew {{potionDetails.potionTime}}
    </p>
    <p>
        Difficulty {{potionDetails.difficulty}} <br />
    </p>
    <p>
        Possible Side Effects {{potionDetails.sideEffects}}
    </p>
    <form method="post" action="/potions/{{potionDetails._id}}/like" class="inline">
                <input
                  type="hidden"
                  name="extra_submit_param"
                  value="extra_submit_value"
                />
                <button
                  type="submit"
                  name="submit_param"
                  value="submit_value"
                  class="link-button"
                >
                <img src="../../images/Hogwarts/icon-blue-wand.png">
                </button>
              </form>
    <p>
        Likes: {{potionDetails.numberOfLikes.length}}
        {{#if wizardHasNotLiked}} 
              <img src="../../images/Hogwarts/icon-empty-potion.png">
              {{else}}
              <img src="../../images/Hogwarts/icon-full-potion.png">
        {{/if}}
    </p>
    
    {{#if isOwner}}
<a href="/potions/{{potionDetails._id}}/edit">Edit details</a>
    <p>
        <form action="/potions/{{potionDetails._id}}/delete" method="POST">
            <button>Delete</button>
           
        </form>
    </p>
     {{else}}
            {{/if}}

</section>

<a href="/potions">Back</a>

</body>