<body id="potionsBody">

<section class="potion-details">
    <h1>{{potionName}}</h1>
    <h5>Brewed by: Wizard Name</h5>
    <p>
        Ingredients {{ingredients}} <br />
    </p>
    <p>
        How to brew it {{method}} <br />
    </p>
    <p>
        Time to brew {{potionTime}}
    </p>
    <p>
        Difficulty {{difficulty}} <br />
    </p>
    <p>
        Possible Side Effects {{sideEffects}}
    </p>
    
    
<a href="/hidden-corridor/{{_id}}/edit">Edit details</a>
    <p>
        <form action="/hidden-corridor/{{_id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </p>

</section>

<a href="/hidden-corridor">Back</a>

</body>